{
  "menus": [
    {
      "channel": "insert-channel-id-here",
      "message": "insert-message-id-here",
      "roles": {
        "A": "🇦",
        "B": "🇧",
        "C": "🇨"
      }
    }
  ],
  "logs": {
    "messages": "insert-channel-id-here"
  }
}
